.card {
  background-color: #1c1c2e;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 20px;
}
.header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.xpSection {
  margin-top: 10px;
}
.progressBar {
  background-color: #444;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
}
.progress {
  width: 70%;
  height: 8px;
  background-color: limegreen;
}
.xpText {
  text-align: right;
  font-size: 12px;
}
.courses {
  margin-top: 15px;
}
.course,
.courseOrange,
.courseBlue {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.course {
  background: linear-gradient(to right, #60a5fa, #1e40af);
}

.course:hover {
  background: linear-gradient(to right, #3b82f6, #1e3a8a);
}

.courseOrange {
  background: linear-gradient(to right, #fb923c, #9a3412);
}

.courseOrange:hover {
  background: linear-gradient(to right, #f97316, #7c2d12);
}

.courseBlue {
  background: linear-gradient(to right, #60a5fa, #1e3a8a);
}

.courseBlue:hover {
  background: linear-gradient(to right, #2563eb, #1e40af);
}

.imageContainer {
  perspective: 1000px;
  perspective-origin: center;
}

.gradientBox {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 12px;
  /* background: linear-gradient(145deg, #1c1c2e, #2e2e45); */
  background-color: #1c1c2e;
  box-shadow: 20px 20px 40px #141421, -20px -20px 40px #2a2a3f;
  transform-style: preserve-3d;
  z-index: -1;
  transform: rotateX(6deg) rotateY(6deg);
  overflow: hidden;
}

.gloss {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.12),
    rgba(255, 255, 255, 0)
  ); */
  background-color: #1c1c2e;
  border-radius: 12px;
  z-index: 0;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
