.card {
  background-color: #1c1c2e;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 20px;
}
.header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.xpSection {
  margin-top: 10px;
}
.progressBar {
  background-color: #444;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
}
.progress {
  width: 70%;
  height: 8px;
  background-color: limegreen;
}
.xpText {
  text-align: right;
  font-size: 12px;
}
.courses {
  margin-top: 15px;
}
.course,
.courseOrange,
.courseBlue {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.course {
  background: linear-gradient(to right, #60a5fa, #1e40af);
}

.course:hover {
  background: linear-gradient(to right, #3b82f6, #1e3a8a);
}

.courseOrange {
  background: linear-gradient(to right, #fb923c, #9a3412);
}

.courseOrange:hover {
  background: linear-gradient(to right, #f97316, #7c2d12);
}

.courseBlue {
  background: linear-gradient(to right, #60a5fa, #1e3a8a);
}

.courseBlue:hover {
  background: linear-gradient(to right, #2563eb, #1e40af);
}